<h1>New event: </h1>
<%= form_with model: @event do |form| %>
<%= form.label :date, "Date of the event: " %>
<%= form.date_field :date %>
<%= form.label :location. "Location of the event: " %>
<%= form.text_area :location %>
<%= form.submit "Create" %>
<% end %>